.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.851562;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:0.938477;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{margin-left:-12.964800px;}
._1{margin-left:-8.288000px;}
._8{margin-left:-5.460000px;}
._6{margin-left:-3.960000px;}
._5{margin-left:-2.664000px;}
._4{margin-left:-1.624000px;}
._7{width:1.000000px;}
._2{width:34.199997px;}
._3{width:63.504012px;}
.fc0{color:rgb(255,255,255);}
.fs4{font-size:60.000000px;}
.fs3{font-size:72.000000px;}
.fs2{font-size:74.000000px;}
.fs1{font-size:112.000000px;}
.fs0{font-size:175.199997px;}
.y0{bottom:0.000000px;}
.ye{bottom:56.665237px;}
.yd{bottom:77.185257px;}
.yc{bottom:97.705261px;}
.y11{bottom:101.827726px;}
.yb{bottom:118.225266px;}
.ya{bottom:138.745270px;}
.y3{bottom:147.415150px;}
.y9{bottom:159.265274px;}
.y8{bottom:179.785278px;}
.y7{bottom:200.305267px;}
.y2{bottom:201.918701px;}
.y1{bottom:254.478699px;}
.y6{bottom:265.345264px;}
.y10{bottom:266.727341px;}
.yf{bottom:284.727339px;}
.y5{bottom:285.865261px;}
.y4{bottom:306.385262px;}
.h6{height:43.681641px;}
.h5{height:52.417969px;}
.h4{height:52.970703px;}
.h3{height:59.257812px;}
.h2{height:81.539062px;}
.h1{height:127.550388px;}
.h0{height:405.000000px;}
.w0{width:720.000000px;}
.x0{left:0.000000px;}
.x1{left:34.188568px;}
.x4{left:40.316925px;}
.x2{left:55.625671px;}
.x5{left:76.316925px;}
.x6{left:103.316925px;}
.x3{left:207.351593px;}
.x9{left:216.323608px;}
.x7{left:396.476685px;}
.x8{left:667.632935px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{margin-left:-17.286400pt;}
._1{margin-left:-11.050667pt;}
._8{margin-left:-7.280000pt;}
._6{margin-left:-5.280000pt;}
._5{margin-left:-3.552000pt;}
._4{margin-left:-2.165333pt;}
._7{width:1.333333pt;}
._2{width:45.599996pt;}
._3{width:84.672016pt;}
.fs4{font-size:80.000000pt;}
.fs3{font-size:96.000000pt;}
.fs2{font-size:98.666667pt;}
.fs1{font-size:149.333333pt;}
.fs0{font-size:233.599996pt;}
.y0{bottom:0.000000pt;}
.ye{bottom:75.553650pt;}
.yd{bottom:102.913676pt;}
.yc{bottom:130.273682pt;}
.y11{bottom:135.770302pt;}
.yb{bottom:157.633687pt;}
.ya{bottom:184.993693pt;}
.y3{bottom:196.553533pt;}
.y9{bottom:212.353699pt;}
.y8{bottom:239.713704pt;}
.y7{bottom:267.073690pt;}
.y2{bottom:269.224935pt;}
.y1{bottom:339.304932pt;}
.y6{bottom:353.793686pt;}
.y10{bottom:355.636454pt;}
.yf{bottom:379.636452pt;}
.y5{bottom:381.153681pt;}
.y4{bottom:408.513682pt;}
.h6{height:58.242188pt;}
.h5{height:69.890625pt;}
.h4{height:70.627604pt;}
.h3{height:79.010417pt;}
.h2{height:108.718750pt;}
.h1{height:170.067185pt;}
.h0{height:540.000000pt;}
.w0{width:960.000000pt;}
.x0{left:0.000000pt;}
.x1{left:45.584757pt;}
.x4{left:53.755900pt;}
.x2{left:74.167562pt;}
.x5{left:101.755900pt;}
.x6{left:137.755900pt;}
.x3{left:276.468791pt;}
.x9{left:288.431478pt;}
.x7{left:528.635579pt;}
.x8{left:890.177246pt;}
}
